#toc {
	position: sticky;
	top: 20px;
	align-self: flex-start;
	max-height: 90vh;
	overflow-y: auto;
}

#toc::-webkit-scrollbar {
	width: 6px;
}
#toc::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 3px;
}
#toc::-webkit-scrollbar-track {
	background: transparent;
}

#toc a{
	color: black;
}

#toc a:hover{
	color: red;
}

#toc ul {
	margin-left: -22px;
}