#menu-outer {
	width: 100%;
	height: 2.5em;
	/* background-color: rgba(159, 200, 243, 0.5); */
    background-color: rgba(159, 200, 243, 0.2); /* Much lighter, let glass show */
}

#menu-inner {
	display: flex;
}

.menu-item {
	flex: 1;
	height: 2.5em;
	/*background-color: #bfa;*/
	display: flex;
}

.menu-item a {
	color: black;
	display: block;
	text-decoration: none;
	font-size: 1.5em;
	margin: auto;
	position: relative;
	z-index: 2;
}

.menu-item.particle-effect-btn {
	position: relative;
}

.menu-item a:hover {
	color: #23527c;
}

/* Particle Canvas Container */
.particle-effect-btn canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	pointer-events: none;
}
